body {

    margin: 0px;
    width: 100vw;
    height: 100% !important;
    /* overflow: hidden;  */
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

