.article {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh; 
    max-height: 100vh; 
    box-sizing: border-box; 
    background-color: black;
    color: white;
    overflow-y: auto; 
    scroll-behavior: smooth; 
}

.list-of-users {
    text-align: center;
    color: white;
    font-family: "Jaro", sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

.userImg {
    width: 100px; 
    height: 100px; 

    max-width: 50px; 
    max-height: 50px;
    border-radius: 50%;
    margin: 0;
    object-fit: cover; 
}

.userImg:hover {
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.user-container {
    display: flex;
    flex-wrap: nowrap; 
    width: 100%;
    min-height: auto; 
    padding: 10px 0; 
    border-bottom: 2px solid white;
    justify-content: start;
    gap: 20px; 
    align-items: center; 
}

.users-corner {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5; 
    height: auto; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.options {
    display: flex;
    width: 100%;
    gap: 20px; 
    align-items: center; 
    justify-content: flex-start; 
}

.button {
    width: 100%; 
    max-width: 200px; 
    height: 40px; 
    border-radius: 5px;
    background-color: black;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px blue inset, -2px -2px 5px purple inset;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: purple;
    box-shadow: 2px 2px 5px black inset, -2px -2px 5px blue inset;
}

